<% provide(:title, 'Реєстрація') %>
<h1>Companies#new</h1>
<p>Find me in app/views/companies/new.html.erb</p>
<p>Сторінка реєстрації компанії та першого користувача</p>
<%= form_for(@company) do |f| %>
    <% if @company.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@company.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @company.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label 'Назва компанії' %><br>
      <%= f.text_field :name %>
    </div><br>
    <div class="field">
      <%= f.label 'URL компанії' %><br>
      <%= f.text_field :url %>
    </div><br>
    <%= f.fields_for :users do |users_form| %>
        <div class="field">
          <%= users_form.label 'Ім’я користувача' %><br>
          <%= users_form.text_field :name %>
        </div><br>
        <div class="field">
          <%= users_form.label 'Адреса електронної пошти' %><br>
          <%= users_form.email_field :email, class: "form-control", id:"inputEmail", placeholder: "Email" %>
        </div><br>
        <div class="field">
          <%= users_form.label 'Пароль користувача' %><br>
          <%= users_form.password_field :password, placeholder: "Password" %>
        </div>
    <% end %>
    <div class="action"><br>
      <%= f.submit 'Зареєструватись', class:"btn btn-primary" %>
    </div>

<% end %>